extends layout
mixin dance(title, video, autoplay)
  .dance.muted&attributes(attributes)
    .videobg
      - var vattrs = autoplay ? { autoplay: 'autoplay' } : {};
      video(controls=false, loop, muted)&attributes(vattrs)
        source(src="/vid/#{video}.mp4", type="video/mp4")
        source(src="/vid/#{video}.webm", type="video/webm")
    .not-videobg
      .fa-stack.unmute-button
        .fa.fa-circle.fa-stack-2x
        .fa.fa-volume-up.fa-stack-1x.fa-inverse.mute-icon
      h1.while-playing!= title
      .caption
        h1!= title
        block
block content
  #about
    #cottontails
      h1= about.title
      img(src="/img/ct_new_nothe.svg").logo
      | !{about_cottontails.fields.text}
    #heading.dance-head
      h1.really-big= about.the_dances

    +dance(about_lindy_hop.fields.name, 'michael_frida_web', true)#lindyhop
      | !{about_lindy_hop.fields.desc}

    +dance(about_authentic_jazz.fields.name, 'rock_it_for_me_web')#authenticjazz
      | !{about_authentic_jazz.fields.desc}

    +dance(about_balboa.fields.name, 'mickey_kelly_web')#balboa
      | !{about_balboa.fields.desc}

block scripts
  script(type='text/javascript', src='/js/waypoints.min.js')
  script(type='text/javascript').
    var focusVideo = function(video) {
      if (!video.paused) return;
      video.play();
      $('.videobg video').not($(video)).each(function() {
        this.pause();
        this.muted = true;
      });
    };
    var waypointHandler = function() { focusVideo(this) }
    $('.videobg video').each(function() {
      var parent = $(this).parents('.dance');
      var muted = true;
      $(this).on('volumechange', function() {
        if (this.muted && !muted) { 
          parent.trigger('mute'); 
          muted = true;
        } else if (!this.muted && muted) {
          parent.trigger('unmute');
          muted = false;
        }
      });
    }).waypoint(waypointHandler, {offset: 100})
    $('.unmute-button').on('click', function() {
      var video = $(this).parents('.dance').find('video')[0];
      video.muted = !video.muted;
    });
    $('.dance').on('mute', function() {
      console.log('fire')
      var self = $(this);
      self.addClass('muted');
      self.find('.mute-icon').removeClass('fa-volume-off').addClass('fa-volume-up');
    }).on('unmute', function() {
      var self = $(this);
      self.removeClass('muted');
      self.find('.mute-icon').addClass('fa-volume-off').removeClass('fa-volume-up');
      var video = self.find('video')[0];
      if (video.paused) focusVideo(video);
    });

