extends layout
block content
  #events
    h1 Hva skjer?
    if events.length == 0
      each event in events
        a.event(href=event.link, target="blank")
          h2= event.name
          .when.meta
            .fa.fa-clock-o
            |  #{event.when[locale]}
          if event.location
            .location.meta
              .fa.fa-globe
              |  #{event.location}
          .fa.fa-external-link
    else 
      p.empty= events.none
