include schedules
extends layout
block head
  link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css")
block scripts
  script(type="text/javascript", src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js")
  script.
    var map_ab = L.map('map-ab').setView([60.394, 5.33], 15)
    var map_lh = L.map('map-lh').setView([60.390247, 5.337397], 15)
    L.tileLayer('http://{s}.tiles.mapbox.com/v3/cottontails.kl7j40d2/{z}/{x}/{y}.png', {
      attribution: 'Data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18
    }).addTo(map_ab);
    L.tileLayer('http://{s}.tiles.mapbox.com/v3/cottontails.kl7j40d2/{z}/{x}/{y}.png', {
      attribution: 'Data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18
    }).addTo(map_lh);
    L.marker([60.393141, 5.332011]).addTo(map_ab);
    L.marker([60.390247, 5.337397]).addTo(map_lh);
block prenav
  .index
block content
  #index
    #hero
      #hero-title
    #portal
      a.box(href="/kurs")
        .image(style="background-image: url(/img/kurs.jpg)")
        .inner-box
          h1= portal.courses
      a.box(href="/lokaler")
        .image(style="background-image: url(/img/asylbarnehagen.jpg)")
        .inner-box
          h1= portal.location
      a.box(href="/hvaskjer")
        .image(style="background-image: url(/img/hvaskjer.jpg)")
        .inner-box
          h1= portal.whats_happening
      a.box(href="/om")
        .image(style="background-image: url(/img/manning.jpg)")
        .inner-box
          h1= portal.about
      a.box(href="/musikk")
        .image(style="background-image: url(/img/musikk.jpg)")
        .inner-box
          h1= portal.music
    #about
      .about-box
        .blurb!= club_overview_text.fields.text
    #feed
      .content
        h1= news_stream
        .stories
          each story in stories
            .news
              a.story(href=story.link) #{story.story} 
                if story.link
                  .fa.fa-external-link-square
              .date #{story.date[locale]} (#{story.created.locale(locale).fromNow()})
      .content.wider
        .halfbox
          h2= weekly_schedule
          each day in schedule.fields.days
            mixin day(day)
        .halfbox.map
          h2 #{asylbarnehagen.fields.title}
          #map-ab
          .explanation !{asylbarnehagen.fields.directions}
        .halfbox.map
          h2 #{lagshuset.fields.title}
          #map-lh
          .explanation !{lagshuset.fields.directions}
