include schedules
extends layout
block content
  #kurs
    #timeplan
      .content
        h1 #{courses.schedule}, !{levels.fields.title}
        each day in schedule.fields.days
          .halfbox
            mixin day(day)
    #about
      h1= courses.title
      | !{course_overview.fields.text}
      a.registration(href="/registration") #{courses.register} - !{current_event.fields.event[0].fields.title}
    #levels
      .content
        h1= courses.levels
        p.main-overview!= level_overview.fields.text
      .content.wider
        each level in levels.fields.levels
          .halfbox
            h2!= level.fields.name
            | !{level.fields.desc}

