doctype
html
  head
    meta(charset='utf-8')
    title Cottontails Danseklubb Bergen
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/ct.css')
  body
    block prenav
    #nav
      .left
        a.logo(href="/")
      .right.nav
        a.item(href="/kurs", class=current == 'courses' ? 'active' : '')= nav.courses
        a.item(href="/lokaler", class=current == 'locations' ? 'active' : '')= nav.location
        a.item(href="/hvaskjer", class=current == 'events' ? 'active' : '')= nav.whats_happening
        a.item(href="/musikk", class=current == 'music' ? 'active' : '')= nav.music
        a.item(href="/om", class=current == 'about' ? 'active' : '')= nav.about
    block content
    #contact
      .bg
      .not-bg
        h1= contact_us
        .contact-bits
          a.email(href="mailto:post@thecottontails.net") post@thecottontails.net
          .or — #{or} —
          a.list(href="http://eepurl.com/OF8XT")= newsletter
        .social-bits
          a.bit(href="http://www.facebook.com/cottontailsdanseklubb")
            .fa.fa-facebook-square
          a.bit(href="http://www.twitter.com/LindyHopBergen")
            .fa.fa-twitter-square
          a.bit(href="http://open.spotify.com/user/thecottontails")
            .fa.fa-spotify
          a.bit(href="mailto:post@thecottontails.net")
            .fa.fa-envelope
    script(type='text/javascript', src='/js/jquery-2.1.1.min.js')
    script(type='text/javascript', src='/js/ct.js')
    block scripts
