extends layout
block content
  #lokaler
    .place.asylbarnehagen
      .bg
      .not-bg
        h1 
          .fa.fa-home
          |  #{asylbarnehagen.fields.title}
        | !{asylbarnehagen.fields.desc}
      #entry
        .map
          img(src="/img/map.jpg")
        .entrydesc!= asylbarnehagen.fields.directions
    .place.lagshuset
      .bg
      .not-bg
        h1
          .fa.fa-home
          |  #{lagshuset.fields.title}
        | !{lagshuset.fields.desc}
