extends layout
block content
  #playlists
    h1= music.playlists
    p= music.playlists_desc
    .playlists
      each playlist in playlists
        - if (playlist.tracks.total == 0) continue;
        a.playlist(href=playlist.external_urls.spotify, target="blank")
          h2= playlist.name
          p #{playlist.tracks.total} songs, made by <strong>#{playlist.owner.display_name || playlist.owner.id}</strong>
          .fa.fa-spotify
  
