extends layout
block content
  #registration
    h1 #{registration.title}, !{current_event.fields.event[0].fields.title}
    form.registration(method="POST", action="/registration/#{current_event.fields.event[0].fields.internal_name}")
      .field
        label(for="first_name")= registration.first_name
        input.text(name="first_name")
      .field
        label(for="last_name")= registration.last_name
        input.text(name="last_name")
      .field
        label(for="last_name")= registration.email
        input.text(name="email", type="email")
      .field
        label= registration.role
        input.role(type="radio", id="leader", name="role", checked, value="leader")
        label.role(for="leader")= registration.leader
        input.role.last(type="radio", id="follower", name="role", value="follower")
        label.role.last(for="follower")= registration.follower

      
      h2= registration.level
      .field-content
        each level, i in levels.fields.levels
          input.level(type="radio", id=level.fields.internal_name, name="level", checked=i==0, value=level.fields.internal_name)
          label.level-desc(for=level.fields.internal_name)
            h3!= level.fields.name
            | !{level.fields.desc}

      input.submit(type="submit", value=registration.register)
    

